@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap");

/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

/* ---- typography ---- */

body {
  color: #111;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  line-height: 147%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h1 {
}

h2 {
}

h3 {
}

p {
  margin: 0;
}

/* ---- layout ---- */

#root {
display: grid; 
grid-template-columns: 1fr ; 
grid-template-rows: 1fr 1fr 1fr ; 
grid-column-gap: 0px;
grid-row-gap: 0px; 
}
#main-header {
  grid-area: 1 / 1 / 2 / 2;
}
#main {
  grid-area: 2 / 1 / 3 / 2;
}
#main-footer {
  grid-area: 3 / 1 / 4 / 2; 
}

/* ---- components ---- */

.button {
  width: 100%;
  background-color: blue;
  color: #fff;
  border: 1px solid #fff;
}

.button-alt {
  color: blue;
  background-color: #fff;
}

/* ---- section ---- */
